/* GENERAL */
html{
    scroll-padding-top: 90px;
    scroll-behavior: smooth;
}

body {
     padding-top: 90px;
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

h3 {
    font-size: 20px;
    font-weight: normal;
}

p {
    font-size: 16px;
}

/* UTILITIES */
/* color */
.main-header .my-navbar li > a,
.my-navbar  .white-text,
.white-text {
    color: #fff;
}

.created,
.top-footer li > a:hover,
.my-navbar .my-brand:hover,
.main-header .my-navbar li > a:hover {
    color: #19bc9c;
}

.bg-primary-color {
    background-color: #19bc9c;
}
.bg-secondary-color {
    background-color:  #2c3e50;
}
.bg-secondary-color-light {
    background: #3a546d;
}

.mb-20 {
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}

.star-icon {
    font-size: 32px;
    vertical-align: middle;
}

.star-divisor::before,
.star-divisor::after {
    display: inline-block;
    width: 74px;
    height: 4px;
    content: "";
    background-color: currentColor;
}

/* HEADER CONTENT */
.main-header .my-navbar {
    height: 90px;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
}

.main-header .my-navbar a {
    padding: 0 15px;
    line-height: 90px;
}

.my-brand {
    font-weight: bold;
}

.my-navbar > .my-hamburger {
    position: absolute;
    top: 20px;
    right: 0;
    float: none;
}
/* MAIN CONTENT */
.my-hero {
    padding-bottom: 40px;
}
.my-hero img {
    width: 230px ;
}

/* SECTION PORTFOLIO */
.portfolio-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

#portfolio .portfolio-item .layover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(68, 188, 156, 0.75);
    opacity: 0;
    transition: opacity .6s;
}
#portfolio .portfolio-item .layover i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6rem;
    color: #fff;
}
#portfolio .portfolio-item .layover:hover {
    opacity: 1;
}

/* SECTION ABOUT */
section#about {
    margin-top: 60px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.my-download-btn {
    background-color: transparent;
    border: 1px solid white;
}
.my-download-btn:hover {
    background-color: white;
}

/* SECTION CONTACT */
#contact {
    padding-bottom:30px ;
}

.main-form textarea,
.main-form input {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #eaeaea;
    border-radius: 0;
}

.main-form textarea {
    margin-bottom: 15px;
}

/* FOOTER */
.top-footer {
    padding: 50px 0;
}

.top-footer ul {
    padding-left: 0;
}

.top-footer li {
    display: inline-block;
    list-style: none;
}

.top-footer li > a {
    display: inline-block;
    height: 52px;
    width: 52px;
    font-size: 22px;
    line-height: 52px;
    color: currentColor;
    border-radius: 50%;
    border: 1px solid white;
}

.bottom-footer {
    padding: 30px 0;
}
